.logo {
  width: 48px;
  height: 48px;
  margin: 0 20px;
}

.exercises-anchor {
  text-decoration: none;
  color: #3a1212;
}

.home-link {
  text-decoration: none;
  color: #3a1212;
  border-bottom: 3px solid #ff2625;
}
